* {
    margin: 0px;
}
.title_guideline {

    list-style-type: none;
    width: 400px;
    margin-left: 100px;

}
.title {
    /* background: pink; */
font-weight: bold;
margin-bottom: 30px;
font-size: 20px;
}
/* .object { */
container {
    width: 800px;
    margin: 200px;
}
dt {
    float: left;
}
dt::after {
content: ":";
}

