* {
    margin: 0px;
}
.title_guideline {

    list-style-type: none;
    width: 400px;
    margin-left: 100px;
    margin-bottom: 100px;

}
.title {
    /* background: pink; */
font-weight: bold;
/* margin-bottom: 30px; */
font-size: 20px;
}
.object {
display: flex;
}
dl {
    flex-direction: column;
}
container {
    flex-direction: column;
    width: 350px;
    margin: 200px;
}
.inner {
    margin: 20px 0px;
    padding: 20px 0px;
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
}
dt {
    float: left;
    width: 30%;
}
dd {
    width: 90%;

}

