.test {
  /* color: pink; */
  /* background-color: pink; */
  font-size: 50px;
}
* {
  margin: 0;
  /* background-color: #5555ff; */
}
html {
  background-image: url(./img/img12.png);

}
.container {
  width: 800px;
  display: flex;
}
.aaa {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.container {
  width: 1200px;
  display: flex;
}
.bbb {
  flex-direction: row;
  width: 200px;
  height: 150px;
  margin: 30px;
  padding: 30px;
}
img {
  opacity: 0.3;
}
.ccc {
  font-weight: bold;
}
.bbb:hover {
  opacity: 1;
}
