* {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  text-decoration: none;
  margin: 0;
}
.header {
  background: #0095d9;
  text-align: center;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.tatakau {
  font-size: 26px;
  /* text-align: center; */
  background: #0095d9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
.wrapper {
  width: 1280px;
  margin: 0px auto;
  /* 子要素を横並びにする */
  display: flex;
  flex-wrap: wrap;
}
.contents {
  /* box本体のCSS */
  width: 176px;
  height: 60px;
  /* 文字色、配置位置設定 */
  color: black;
  font-weight: bold;
  font-size: 16px;
  /* boxどうしの間隔を開ける */
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper :hover {
  background: lightgray;
  text-decoration: underline;
}
