.test {
  /* color: pink; */
  /* background-color: pink; */
  font-size: 50px;
}
.aaa {
  display: flex;
  list-style: none;
}
.container {
  width: 800px;
  margin-left: 10px;
  display: flex;
}
.bbb {
  width: 150px;
  height: 150px;
  margin-left: 10px;
  border: 10px;
  padding-right: 10px;
  flex-direction: row;
}
